<!Doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>
		Your input
	</title>
</head>
	<body>
		<h1><a href="/">TELL YOUR STORY</a></h1>
		<h2>
		AWESOME !!
		</h2>
		<p>
			here's your input	
		</p>
		<h3>
			{{arts.title}}
		</h3>
		<br>
		<br>
		<p>
			{{arts.story}}
		</p>
		
		<p>
			Doesnt like your post ..Click delete to delete or submit to go on....
		</p>
		<form>
		<input type="Submit" name="Add" value="Submit" >
		<input type="Submit" name="delete" value="Delete">
		</form>
	</body>
</html>